= hidden_field_tag "page[meta_attributes][#{page_meta_counter}][content]", false
= check_box_tag "page[meta_attributes][#{page_meta_counter}][content]", true, page_meta.content?, :class => "checkbox", :id => "page_meta_attributes_#{page_meta_counter}_content"