%tr
  %th.label
    %label{:for=>"page_#{page_meta.name}"}= page_meta.name
  %td.field
    = hidden_field_tag "page[meta_attributes][#{page_meta_counter}][id]", page_meta.id, :id => "page_meta_attributes_#{page_meta_counter}_id" unless page_meta.new_record?
    = hidden_field_tag "page[meta_attributes][#{page_meta_counter}][name]", page_meta.name, :id => "page_meta_attributes_#{page_meta_counter}_name", :class => "page_meta_name"
    = hidden_field_tag "page[meta_attributes][#{page_meta_counter}][_destroy]", page_meta._destroy, :class => 'delete_input'
    = render :partial => "admin/page_meta/#{page_meta.partial_name}", :locals => { :page_meta => page_meta, :page_meta_counter => page_meta_counter }
  %td.actions
    - link_to '#add_attribute_popup', :class=>'popup', :alt => t('add_attribute') do
      = image 'plus_grey'
    = link_to_function image('minus_grey', :alt => t('remove_attribute')), "event.stop(); window.removeAttribute(this)", :title => t('remove_attribute')